@page "{id}"
@model Boletaje.Pages.Movimientos.ObservarModel
@{
    ViewData["Title"] = "Observar Movimiento";
}
@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">BackOffice</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Generar Movimiento</a>
    </li>

}
    @using Newtonsoft.Json;
    @section styles{
    <style>
        .input {
            width: 40%;
        }

        .input2 {
            width: 70%;
        }
    </style>

}
    @section scripts{


    <script>
        var Detalles = [];

        $(document).ready(function() {

            jQuery(document).ready(function($) {
                $(document).ready(function() {

            var detalles = JSON.parse($("#Detalle").val());
                     for (var i = 0; i < detalles.length; i++) {
                var detalle = {
                    id: detalles[i].id,
                    NumLinea: i + 1,
                    idEncabezado: 0,
                    idImpuesto: detalles[i].idImpuesto,
                    ItemCode: detalles[i].ItemCode,
                    ItemName: detalles[i].ItemName,
                    PrecioUnitario: detalles[i].PrecioUnitario,
                    Cantidad: detalles[i].Cantidad,
                    PorDescuento: detalles[i].PorDescuento,
                    Descuento: detalles[i].Descuento,
                    Impuestos: detalles[i].Impuestos,
                    TotalLinea: detalles[i].TotalLinea,
                    Garantia: detalles[i].Garantia
                };
                Detalles.push(detalle);

            }

                });
            });


            ModificaMoneda();
        });
        function ModificaMoneda() {
            if ($("#Moneda").val() == "COL") {
                $(".moneda").text("₡");
            } else {
                $(".moneda").text("$")
            }
        }

        function ImprimeEtiqueta(boleta, cliente) {
            var html = htmlOferta;
            html = html.replace("DocEntry", "@Model.Input.NumLlamada");
            html = html.replace("Fecha", '@Model.Input.Fecha.ToString("dd/MMMM/yyyy")');
            html = html.replace("NombreClienteR", "@Model.Input.CardName");
            html = html.replace("TelefonoCliente", "@Model.Llamada.NumeroPersonaContacto");

            html = html.replace("Diagnosticos", "@Model.Llamada.Comentarios");


            if ($("#Moneda").val() == "COL") {

                html = html.replace("SubtotalR", "₡" + $("#SubtotalGeneral").text());
                html = html.replace("Descuento", "₡" + $("#DescGeneral").text());

                html = html.replace("Impuestos", "₡" + $("#ImpGeneral").text());
                html = html.replace("TotalR", "₡" + $("#TotalGeneral").text());



            } else {

                html = html.replace("SubtotalR", "$" + $("#SubtotalGeneral").text());
                html = html.replace("Descuento", "$" + $("#DescGeneral").text());

                html = html.replace("Impuestos", "$" + $("#ImpGeneral").text());
                html = html.replace("TotalR", "$" + $("#TotalGeneral").text());
            }

            html = html.replace("PorDesc", $("#DescuentoPorcentar").text());

            var inyectado = "";

            for (var i = 0; i < Detalles.length; i++)
            {
                if(i == 0)
                {
                    inyectado = htmlInyectadoOferta.replace("NumLinea", (i + 1)).replace("ItemCode", Detalles[i].ItemCode ).replace("ItemName",Detalles[i].ItemName).replace("Cantidad",Detalles[i].Cantidad).replace("PrecioUnitario",Detalles[i].PrecioUnitario).replace("TotalLinea",Detalles[i].TotalLinea);
                }else{
                    inyectado += htmlInyectadoOferta.replace("NumLinea", (i + 1)).replace("ItemCode", Detalles[i].ItemCode ).replace("ItemName",Detalles[i].ItemName).replace("Cantidad",Detalles[i].Cantidad).replace("PrecioUnitario",Detalles[i].PrecioUnitario).replace("TotalLinea",Detalles[i].TotalLinea);

                }
            }

            html = html.replace("INYECTADO", inyectado);



            var item = html;

            var opt = {
                margin: 1,
                pagebreak: { mode: 'avoid-all', before: '#page2el' },

                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { format: 'letter', orientation: 'portrait' }
            };


            if ("@Model.Input.TipoMovimiento" == "1" || "@Model.Input.TipoMovimiento" == "3") {
                html2pdf().set(opt)
                    .from(item)
                    .save("Oferta.pdf");
            } else {
                html2pdf().set(opt)
                    .from(item)
                    .save("Entrega.pdf");
            }



        }
    </script>
}
    @using System.Globalization;
    @{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
<div class="row">
    <div class=" col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header p-4">
                <a asp-page="/Movimientos/Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>
                <input hidden id="Detalle" value="@JsonConvert.SerializeObject(Model.Input.Detalle)" />
                <input hidden id="idGeneral" value="@Model.Input.id" />
                    <input hidden id="Detalle" value="@JsonConvert.SerializeObject(Model.Input.Detalle)" />



                <div class="float-right">
                    <h3 class="mb-0">Llamada #@Model.Input.NumLlamada</h3>
                    Fecha: @Model.Input.Fecha.ToString("dd/MMMM/yyyy")
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">

                        @{
                            switch (Model.Input.TipoMovimiento)
                            {
                                case 1:
                                    {
                                                    <h3 class="text-dark mb-1">Oferta de Venta</h3>
                                        break;
                                    }
                                case 2:
                                    {
                                                    <h3 class="text-dark mb-1">Entrega</h3>
                                        break;
                                    }
                                case 3:
                                    {
                                                    <h3 class="text-dark mb-1">Cotización BackOffice</h3>
                                        break;
                                    }
                            }
                        }

                        <div>CardCode: @Model.Input.CardCode</div>
                        <div>Cliente: @Model.Input.CardName</div>
                        <div>Telefono: @Model.Llamada.NumeroPersonaContacto</div>
                        <div>Persona Contacto: @Model.Llamada.PersonaContacto</div>
                        <div>Email Persona Contacto: @Model.Llamada.EmailPersonaContacto</div>

                        <div class="row col-sm-4">

                            <div class="form-group">
                                <label>Moneda</label>
                                <select disabled="disabled" id="Moneda" class="form-control" asp-for="Input.Moneda" required onchange="javascript: ModificaMoneda()">
                                    <option value="COL">Colones</option>
                                    <option value="USD">Dólares</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Código SAP</th>
                                <th>Nombre</th>
                                <th class="center">Precio Unitario</th>
                                <th class="center">Cantidad</th>
                                <th class="center">Impuestos</th>
                                <th class="center">% Descuento</th>

                                <th class="center">Descuentos</th>
                                <th class="center">Total</th>
                                <th class="center">Garantia</th>

                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @{
                                int i = 1;
                            }
                            @{
                                foreach (var item in Model.Input.Detalle)
                                {
                                                <tr>

                                                    <td align="center">@i</td>
                                                    <td align="left" class="strong">@item.ItemCode </td>
                                                    <td align="left"> @item.ItemName</td>
                                                    <td align="right"> @decimal.Round(item.PrecioUnitario, 2).ToString("N", formato)</td>
                                                    <td align="center"> @decimal.Round(item.Cantidad, 2).ToString("N", formato)</td>
                                                    <td align="right"> @decimal.Round(item.Impuestos, 2).ToString("N", formato)</td>
                                                    <td align="center"> @decimal.Round(item.PorDescuento, 2).ToString("N", formato) %</td>
                                                    <td align="right"> @decimal.Round(item.Descuento, 2).ToString("N", formato)</td>
                                                    <td align="right"> @decimal.Round(item.TotalLinea, 2).ToString("N", formato)</td>
                                                    <td align="center">
                                                        @if (item.Garantia)
                                            {


                                                            <input class="form-check-input" disabled checked type="checkbox" style="position: unset;" />

                                                            <span class="form-check-sign"></span>
                                            }
                                            else
                                            {
                                                            <input class="form-check-input" disabled type="checkbox" style="position: unset;" />

                                                            <span class="form-check-sign"></span>
                                            }

                                                    </td>

                                                </tr>
                                    i++;
                                }


                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Subtotal</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="SubtotalGeneral">@decimal.Round(Model.Input.Subtotal, 2).ToString("N", formato)</strong>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">% Descuento</strong>
                                    </td>
                                    <td align="right">
                                        <strong style="font-weight: inherit;" id="DescuentoPorcentar">@decimal.Round(Model.Input.PorDescuento, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Descuento</strong>
                                    </td>
                                    <td align="right">

                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="DescGeneral">@decimal.Round(Model.Input.Descuento, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Impuestos</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="ImpGeneral">@decimal.Round(Model.Input.Impuestos, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Total</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong class="text-dark" id="TotalGeneral">@decimal.Round(Model.Input.TotalComprobante, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Comentarios</label>

                        <textarea id="comentarios" maxlength="500" class="form-control" asp-for="Input.Comentarios" readonly></textarea>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button title="PDF" type="button" class="btn btn-rounded btn-outline-danger" onclick="javascript: ImprimeEtiqueta()">PDF</button>

        </div>
    </div>
</div>