@page "{id}"
@model Boletaje.Pages.ProductosPadres.EditarModel
@{
    ViewData["Title"] = "Editar Hijos";
}

@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Producto Padre</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Edición de Hijos</a>
    </li>

}

@section styles{


}
@section scripts{

    <script>
        $(document).ready(function () {

            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                });
            });

            Recuperar();
        });

        var ProdCadena = [];
        var ListaProductos = [];


        function Recuperar() {
            try {
                var det = JSON.parse($("#Hijos").val());
                ListaProductos = JSON.parse($("#HijosN").val());
                var idDelCierre = "@Model.Input.id";
                $("#idCierre").val(idDelCierre);

                for (var i = 0; i < det.length; i++) {

                    var detalle =
                    {
                        id: det[i].id,
                        codSAP: det[i].codSAP,
                        nombre: det[i].Nombre,
                        cantidad: det[i].Cantidad
                    }
                    ProdCadena.push(detalle);
                }
                RellenaTabla();
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: e

                });
            }
        }

        function RellenaTabla() {
            var sOptions = '';

            $("#tbody2").html('');

            for (var i = 0; i < ProdCadena.length; i++) {
                sOptions += '<tr>';



                sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:13px;">' + ProdCadena[i].codSAP + '</p></td>';
                sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:13px;">' + ProdCadena[i].nombre + '</p></td>';
                sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:13px;">' + ProdCadena[i].cantidad + '</p></td>';
                sOptions += '<td align="center" style="padding-top:13px;">    <a style="margin-left: -1%; position: inherit !important;" onclick = "javascript: EliminaProducto(' + i + ')" title="Eliminar" class="fa fa-trash icono"></a> ';





                sOptions += '</tr>'
            }
            $("#tbody2").html(sOptions);
        }


        function EliminaProducto(campo) {
            console.log("campo: " + campo);
            Swal.fire({
                title: '¿Desea eliminar este producto?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {


                    ProdCadena.splice(campo, 1);

                    RellenaTabla();

                }
            })

        }

        function onChangeProducto() {
            var idB = $("#Busqueda").val().toString().split("_")[0].trim();

            var Prod = ListaProductos.find(a => a.id == parseInt(idB));
            $("#id").text(idB);
            $("#codSAP").text(Prod.codSAP);
            $("#Nombre").text(Prod.Nombre);
            $("#cantidad").val(1);

            $("#Busqueda").val("");
        }
        function InsertarProductoTabla() {

            if (ValidarAntesTabla()) {

                var detalle =
                {
                    id: $("#id").text(),
                    codSAP: $("#codSAP").text(),
                    nombre: $("#Nombre").text(),
                    cantidad: $("#cantidad").val()
                }
                ProdCadena.push(detalle);

                RellenaTabla();
                LimpiarDatos();
            }

        }

        function ValidarAntesTabla() {
            if ($("#Nombre").text().trim() == "")
            {
                return false;
            }
            else if ($("#cantidad").val() <= 0) {
                return false;
            } else {
                return true;
            }
        }

        function LimpiarDatos() {
            $("#id").text("");
            $("#codSAP").text("");
            $("#Nombre").text("");
            $("#cantidad").val(1);
        }

        function Generar() {
            var idCierre = $("#idCierre").val();

            var Cadena = [];

            for (var i = 0; i < ProdCadena.length; i++) {
                var det = {
                    id: ProdCadena[i].id,
                    idPadre: 0,

                    codSAP: ProdCadena[i].codSAP,
                    Nombre: ProdCadena[i].nombre,
                    Stock: 0,
                    Cantidad: ProdCadena[i].cantidad
                };
                Cadena.push(det);
            }


            var ProductosHijos = Cadena;

            var recibido =
            {
                idPadre: idCierre,
                ProductosHijos
            }

            console.log(JSON.stringify(recibido));

            Swal.fire({
                    title: '¿Desea guardar los cambios?',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: `Aceptar`,
                    denyButtonText: `Cancelar`,
                    customClass: {
                        confirmButton: 'swalBtnColor',
                        denyButton: 'swalDeny'
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        var recibidos = JSON.stringify(recibido);

                        $.ajax({
                            type: 'POST',

                            url: '@Url.Page("Editar", "Generar")',
                            dataType: 'json',
                            data: { recibidos: recibidos.toString() },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (json) {

                                $("#divProcesando").hide();

                                if ($('.modal-backdrop').is(':visible')) {

                                    $('body').removeClass('modal-open');
                                    $('.modal-backdrop').hide();
                                }
                                console.log("resultado " + json.mensaje);
                                if (json.success == true) {
                                    Swal.fire({
                                        title: "Ha sido generado con éxito",

                                        icon: 'success',
                                        showCancelButton: false,

                                        confirmButtonText: 'OK',
                                        customClass: {
                                            confirmButton: 'swalBtnColor',

                                        },
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            location.reload();
                                        }
                                    })

                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Oops...',
                                        text: 'Ha ocurrido un error al intentar guardar '

                                    })
                                }
                            },

                            beforeSend: function (xhr) {

                                $("#divProcesando").modal("show");
                            },
                            complete: function () {

                            },
                            error: function (error) {

                            }
                        });
                    }
                }
               )
        }



    </script>

}
@using Newtonsoft.Json;

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="title">Editar Hijos por Producto</h5>

                    </div>

                    <div class="col-sm-6" style="text-align: right">

                        <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6 pr-1">

                        <div class="form-group">
                            <label>Producto Padre</label>
                            <input type="text" class="form-control form-control-lg" id="producto" asp-for="Input.Nombre" readonly>
                            <input id="idProd" asp-for="Input.id" hidden />
                        </div>


                    </div>





                </div>


            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">

                        <h5 class="title"> Productos Hijos Disponibles</h5>
                    </div>

                    <div class="col-sm-3">

                    </div>


                </div>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-sm-12">
                        <label class="col-form-label">Producto Hijo:</label>
                        <div class="form-group row">
                            <input hidden id="Hijos" value="@JsonConvert.SerializeObject(Model.InputHijosAsignados)" />
                            <input hidden id="HijosN" value="@JsonConvert.SerializeObject(Model.InputHijos)" />

                            <input hidden id="idCierre" />
                            <div class="col-sm-6">
                                <input id="Busqueda" list="prodHijos" class="form-control" type="text" />
                                <datalist id="prodHijos">
                                    @foreach (var item in Model.InputHijos.Where(a => a.idPadre == 0).ToList())
                                    {
                                    <option value="@item.id _ @item.Nombre "> @item.codSAP - @item.Nombre </option>
                                    }
                                </datalist>

                            </div>
                            <div class="col-sm-3">

                                <button title="Buscar" type="submit" class="btn btn btn-primary" onclick="javascript: onChangeProducto();"> <i class="fa fa-search"></i></button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <label id="id" hidden style="line-height: 32px;">
                                </label>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Código SAP:</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <label id="codSAP" style="line-height: 32px;">
                                        </label>

                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <label class="col-form-label">Cantidad:</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" id="cantidad" />

                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-6">

                                <div class="form-group row">
                                    <div class="col-sm-12">

                                        <label class="col-form-label">Nombre:</label>

                                    </div>
                                    <div class="col-sm-12">
                                        <label id="Nombre" style="line-height: 32px;">
                                        </label>
                                    </div>
                                </div>




                            </div>

                        </div>

                    </div>
                    <div class="col-sm-6">




                    </div>
                </div>


            </div>
        </div>
        <div class="row">

            <div class="col-sm-12" style="text-align: center;">
                <a title="Eliminar" onclick="javascript: LimpiarDatos();" style="width: 25%;" class="btn btn-rounded btn-danger">Cancelar</a>&nbsp;
                <a title="Agregar" id="Agregar" onclick="javascript: InsertarProductoTabla();" style=" color: #fff; width: 25%;" class="btn btn-rounded btn-primary">Asignar</a>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-8">

                        <h5 class="title"> Hijos Asignados al Producto Padre</h5>
                    </div>

                    <div class="col-sm-4" style="text-align: right;">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive tableFixHead" style="padding:inherit; overflow:scroll;    z-index: 5; height: 290px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th align="center" style=" text-align: center;">Código</th>
                                <th align="center" style=" text-align: center;">Nombre </th>
                                <th align="center" style=" text-align: center;">Cantidad </th>




                                <th align="center" style=" text-align: center;">Acción</th>
                            </tr>

                        </thead>
                        <tbody id="tbody2">
                        </tbody>
                    </table>

                </div>



            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button onclick="javascript: Generar();" class="btn btn-rounded btn-outline-primary botonAbajo" id="GuardarCambios" title="Guardar">Guardar Cambios</button> &nbsp;
         
        </div>
    </div>
</div>