@page "{id}"
@model Boletaje.Pages.Llamadas.EditarModel
@{
    ViewData["Title"] = "Editar Llamada Servicio";
}
@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Llamadas Servicios</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Edición de Llamada de Servicios</a>
    </li>

}
    @section styles{


}

    @section scripts{

    <script>
        var btn = document.getElementById('Guardar');
        function onGuardar() {
            if ($("#fecsiso").val() == "" && $("#tec").val() != "2" ) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error, por favor ingresa la Fecha SISO '

                })
                return false;


            }
              $("#divProcesando").modal("show");
            btn.disabled = true;
            $("#formTipos").submit();

            btn.disabled = false;
        }

        function ImprimeEtiqueta(boleta, cliente) {
            var html = htmlLlamada;
            html = html.replace("NombreCliente", $("#cardcode1").val());
            html = html.replace("NombreContacto", $("#personaContacto").val());
            html = html.replace("email", $("#emailPersonaContacto").val());
            html = html.replace("telcontacto", $("#telefonoPersonaContacto").val());

            html = html.replace("EquipoDelClie", $("#prod").val());
            html = html.replace("SerieR", $("#serie").val());
            html = html.replace("FechaR", $("#fecha").val());

            html = html.replace("SucursalR", $("#sr option:selected").text());
            html = html.replace("SucE", $("#srt option:selected").text());

           
            html = html.replace("ObservacionesR", $("#asunto").val());
            html = html.replace("DiagnosticosDelCliente", $("#comentarios").val());

            html = html.replace("NumBoleta", $("#boleta").val());




            html = html.replace("Imagen", "<img src='" + '@Model.Input.Firma' + "' width='100'   />" );



            var item = html;

            var opt = {
                margin: 0,
                pagebreak: { mode:[ 'avoid-all','css', 'legacy']  },

                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 1,logging:true,dpi:192,letterRendering:true },
                jsPDF: { unit:'mm',format: 'a3', orientation: 'portrait' }
            };



            html2pdf().set(opt)
                .from(item)
                .save("Llamada.pdf");

        }         
    </script>

}
    @using Microsoft.AspNetCore.Http
    @using System;
    @using System.Collections.Generic;
    @using System.IO;
    @using System.Linq;
    @using System.Security.Claims;
    @using System.Threading.Tasks;
    @using Microsoft.AspNetCore.Mvc;
    @using Microsoft.AspNetCore.Mvc.RazorPages;
    @using Microsoft.Extensions.Configuration;
    @using Refit;
    @using Sicsoft.Checkin.Web.Models;
    @inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}

<form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="title">Edición de Llamada</h5>
                        </div>

                        <div class="col-sm-6" style="text-align: right">

                            <a asp-page="/Llamadas/Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.id" hidden />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cliente:</label>
                                <input type="text" class="form-control form-control-lg" id="cardcode1" placeholder="Nombre Cliente" asp-for="Cliente" readonly>

                                <input type="text" class="form-control form-control-lg" id="cardcode" placeholder="Nombre Cliente" asp-for="Input.CardCode" hidden>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Producto:</label>
                                <input type="text" class="form-control form-control-lg" id="prod" placeholder="" asp-for="Producto" readonly>

                                <input type="text" class="form-control form-control-lg" id="prod" placeholder="" asp-for="Input.ItemCode" hidden>
                                <input type="text" class="form-control form-control-lg" id="serie" asp-for="Input.SerieFabricante" hidden>
                                <input type="text" class="form-control form-control-lg" id="boleta" asp-for="Input.DocEntry" hidden>

                                <input type="text" class="form-control form-control-lg" id="fecha" value="@DateTime.Now" hidden>


                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fecha SISO:</label>
                                @{
                                    if (!string.IsNullOrEmpty(Roles.Where(a => a == "33").FirstOrDefault()))
                                    {

                                                        <input type="date" class="form-control form-control-lg" id="fecsiso" placeholder="" asp-for="Input.FechaSISO">
                                    }
                                    else
                                    {
                                                        <input type="date" class="form-control form-control-lg" id="fecsiso" placeholder="" asp-for="Input.FechaSISO" readonly>
                                    }

                                }




                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Estado:</label>
                                <select id="status" class="form-control" asp-for="Input.Status" required>
                                    <!-- <option value="0">Seleccione</option> -->
                                    @foreach (var item in Model.Status)
                                    {
                                        <option value="@item.idSAP">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Tipo de Caso:</label>
                                <select id="tp" class="form-control" asp-for="Input.TipoCaso" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.TP)
                                    {
                                        <option value="@item.idSAP">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Lugar Reparación:</label>
                                <select id="lReparacion" class="form-control" asp-for="Input.LugarReparacion" required>
                                    <option value="1">Taller</option>
                                    <option value="2">Visita</option>

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Persona de Contacto:</label>
                                <input type="text" class="form-control form-control-lg" id="personaContacto" placeholder="Nombre Persona Contacto" asp-for="Input.PersonaContacto">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label> Correo Persona Contacto:</label>
                                <input type="email" class="form-control form-control-lg" id="emailPersonaContacto" placeholder="Email Persona Contacto" asp-for="Input.EmailPersonaContacto">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefono Persona Contacto:</label>
                                <input type="tel" class="form-control form-control-lg" id="telefonoPersonaContacto" placeholder="Telefono Persona Contacto" asp-for="Input.NumeroPersonaContacto">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Sucursal de Recibo:</label>
                                <select id="sr" class="form-control" asp-for="Input.SucRecibo" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.Sucursales)
                                    {
                                        <option value="@item.idSAP">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Sucursal de Retiro:</label>
                                <select id="srt" class="form-control" asp-for="Input.SucRetiro" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.Sucursales)
                                    {
                                        <option value="@item.idSAP">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            @*<div class="form-group">
                            <label>Garantía:</label>
                            <select id="garantia" class="form-control" asp-for="Input.Garantia" required>
                            <option value="0">Seleccione</option>
                            @foreach (var item in Model.Garantias)
                            {
                            <option value="@item.idSAP">@item.Nombre</option>
                            }
                            </select>
                            </div>*@
                            <div class="form-group">
                                <label>Técnico:</label>
                                <select id="tec" class="form-control" asp-for="Input.Tecnico" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.Tecnicos)
                                    {
                                        <option value="@item.idSAP">@item.Nombre</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Horas:</label>
                                <input type="number" min="0" step="1" class="form-control" asp-for="Input.Horas" id="horas" required />
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Asunto:</label>

                                <select id="asunto" class="form-control" asp-for="Input.Asunto" required>

                                    @foreach (var item in Model.Asuntos)
                                    {

                                        <option value="@item.Asunto">@item.Asunto</option>


                                    }
                                </select>
@*
                                //<input type="text" class="form-control form-control-lg" id="asunto" placeholder="Asunto" asp-for="Input.Asunto">*@


                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Comentarios:</label>

                                <textarea class="form-control form-control-lg" id="comentarios" placeholder="Comentarios" asp-for="Input.Comentarios"> </textarea>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <center>
                        <img src="@Model.Input.Firma" width="300" height="300" />

                    </center>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button title="PDF" type="button" class="btn btn-rounded btn-outline-danger" onclick="javascript: ImprimeEtiqueta()">PDF</button>
                                        &nbsp;
                <button type="button" id="Guardar" class="btn btn-rounded btn-outline-success" onclick="javascript: onGuardar()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</form>
