@page
@model Boletaje.Pages.Bodega.ObservarModel
@{
}

@{
    ViewData["Title"] = "Observar Movimiento";
}

@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Bodega</a>
    </li>


}

@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}


@section styles{

    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }
        .createPDF{
                font-size: 14px;
            }
    </style>

}
@section scripts{
    <script>
        var btn = document.getElementById('Guardar');
        function onGuardar() {
            btn.disabled = true;
            $("#formTipos").submit();
            btn.disabled = false;

        }
    </script>

    <script>
var html = '';
var specialElementHandlers = null;
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                 specialElementHandlers = {
                    "#editor": function(element, render)
                    {
                        return true;
                    }
                }
            });



            $(document).ready(function () {
                $('#tablita').DataTable();
            });


        });

        function ImprimirPantalla()
        {
            try {
               // window.print();
                var margins = {
                    top: 10,
                    bottom: 10,
                    left: 10,
                    width: 595
                  };
                

                html = $(".html").html();
                html2pdf(html, {
                margin:1,
                padding:0,
                filename: 'Movimientos.pdf',
                image: { type: 'jpeg', quality: 1 },
                html2canvas: { scale: 2,  logging: true },
                jsPDF: { unit: 'in', format: 'A2', orientation: 'P' },
                class: ImprimirPantalla
            });

            }catch(e)
            {
                console.log(e);
                Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar imprimir ' + e

                                 })
            }
        }




    </script>

}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
<form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="text" class="form-control form-control-lg" id="id" asp-for="BTS.id" hidden>

    <div class="row ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="title">Observar Movimiento</h5>

                        </div>

                        <div class="col-sm-6" style="text-align: right">

                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Producto</label>
                                <input type="text" class="form-control form-control-lg" id="desc" asp-for="Producto" readonly>

                            </div>


                        </div>




                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Aceptar / Rechazar</label>
                                @if (Model.BTS.ProcesadaSAP)
                                {
                                    <select id="status" class="form-control" asp-for="BTS.Status" disabled="disabled" readonly>
                                        <option value="0" selected>Sin Acción</option>


                                        <option value="1">Aceptado </option>
                                        <option value="2">Rechazado </option>



                                    </select>
                                }
                                else
                                {
                                    <select id="status" class="form-control" asp-for="BTS.Status">
                                        <option value="0" selected>Sin Acción</option>


                                        <option value="1">Aceptado </option>
                                        <option value="2">Rechazado </option>



                                    </select>

                                }


                            </div>


                        </div>

                        <div class="col-md-4 pl-1">

                            <div class="form-group">
                                <label>Fecha Creación</label>
                                <input type="date" class="form-control form-control-lg" id="desc" asp-for="BTS.Fecha" readonly>


                            </div>


                        </div>

                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Tipo Movimiento</label>
                                <select id="idTraslado" class="form-control" asp-for="BTS.TipoMovimiento" disabled="disabled">
                                    <option value="0">Seleccione</option>


                                    <option value="1">1- Solicitud </option>
                                    <option value="2">2- Devolución </option>


                                </select>

                            </div>


                        </div>
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Técnico</label>
                                <input type="text" class="form-control form-control-lg" id="desc" asp-for="Tecnico" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pl-1">

                            <div class="form-group">
                                <label>Llamada</label>
                                <input type="text" class="form-control form-control-lg" id="idLlamada" asp-for="Encabezado.idLlamada" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control form-control-lg" id="cliente" asp-for="Cliente" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Bodega Inicial</label>
                                <input type="text" class="form-control form-control-lg" id="bodI" asp-for="BTS.BodegaInicial" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pl-1">

                            <div class="form-group">
                                <label>Bodega Destino</label>
                                <input type="text" class="form-control form-control-lg" id="bodF" asp-for="BTS.BodegaFinal" readonly>

                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Materiales</h5>
                        </div>
                        <div class="col-md-4">


                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Ubicación</th>




                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BTS.Detalle)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@(item.ItemCode)</td>


                                        <td>@item.Cantidad</td>
                                        @{var itemCode = item.ItemCode.Trim().Split('|')[0].ToString().Trim();}
                                        <td>@( Model.ProductosHijos.Where(a => a.codSAP == itemCode).FirstOrDefault() == null ? "" : Model.ProductosHijos.Where(a => a.codSAP == itemCode).FirstOrDefault().Localizacion )</td>


                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Ubicación</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button type="button" onclick="javascript: ImprimirPantalla()" class="btn btn-rounded btn-outline-brand"> Imprimir</button> &nbsp;
    <button type="button" id="Guardar" onclick="javascript: onGuardar();" class="btn btn-rounded btn-outline-success">Guardar Cambios</button>
</form>


                                <!--HTML PARA IMPRIMIR-->


<div class="html" hidden >
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                 <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Traslado # @Model.BTS.DocEntry</h2>
                        </div>
                        <div class="col-md-4">


                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 pr-1">

                            <div class="form-group">
                                <label>Producto</label>
                                <input type="text" class="form-control form-control-lg"  asp-for="Producto" readonly>

                            </div>


                        </div>




                        <div class="col-md-6 pr-1">

                             <div class="form-group">
                                <label>Fecha Creación</label>
                                <input type="date" class="form-control form-control-lg" id="" asp-for="BTS.Fecha" readonly>


                            </div>


                        </div>

                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Tipo Movimiento</label>
                                <select id="idTraslado" class="form-control" asp-for="BTS.TipoMovimiento" disabled="disabled">
                                    <option value="0">Seleccione</option>


                                    <option value="1">1- Solicitud </option>
                                    <option value="2">2- Devolución </option>


                                </select>

                            </div>


                        </div>

                       
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Técnico</label>
                                <input type="text" class="form-control form-control-lg" id="" asp-for="Tecnico" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pl-1">

                            <div class="form-group">
                                <label>Llamada</label>
                                <input type="text" class="form-control form-control-lg" id="" asp-for="Encabezado.idLlamada" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Cliente</label>
                                <input type="text" class="form-control form-control-lg" id="" asp-for="Cliente" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Bodega Inicial</label>
                                <input type="text" class="form-control form-control-lg" id="" asp-for="BTS.BodegaInicial" readonly>

                            </div>


                        </div>
                        <div class="col-md-4 pl-1">

                            <div class="form-group">
                                <label>Bodega Destino</label>
                                <input type="text" class="form-control form-control-lg" id="" asp-for="BTS.BodegaFinal" readonly>

                            </div>


                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

     <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>Materiales</h5>
                        </div>
                        <div class="col-md-4">


                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Ubicación</th>




                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BTS.Detalle)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@(item.ItemCode)</td>


                                        <td>@item.Cantidad</td>
                                        @{var itemCode = item.ItemCode.Trim().Split('|')[0].ToString().Trim();}
                                        <td>@( Model.ProductosHijos.Where(a => a.codSAP == itemCode).FirstOrDefault() == null ? "" : Model.ProductosHijos.Where(a => a.codSAP == itemCode).FirstOrDefault().Localizacion )</td>


                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Ubicación</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
             <div class="card">

                 <div class="card-body">
                     <div class="row">
                          <div class="col-md-6 pr-1">

                             _________________________________
                             <br />
                             <h5>Firma Entregado</h5>


                        </div>


                        <div class="col-md-6 pl-1">

                             _________________________________
                             <br />
                             <h5>Firma Recibido</h5>


                        </div>
                     </div>
                     

                 </div>
                 </div>
        </div>
    </div>
</div>